#projection-view {
    /*background-color: white;*/
    width: 100%;
}

.outer-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}

/*.panel-divider {*/
/*    color: #777777 !important;*/
/*    font-size: 14px !important;*/
/*    font-weight: bold !important;*/
/*    !*margin-top: 2px !important;*!*/
/*    !*margin-bottom: 12px !important;*!*/
/*}*/

.view-title {
    color: #777777 !important;
    font-size: 14px !important;
    font-weight: bold !important;
}

.view-title-svg-text {
    fill: #777777;
    font-size: 14px !important;
    font-weight: bold !important;
}

.legend-class-tags {
    color: rgba(0, 0, 0, 0.65);
}

